* {
  font-family: system-ui;
}

.footer {
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: black;
  background-color: white;
  border-color: #dee2e6 #dee2e6;
}

.row {
  background: yellow;
}

.active {
  color:black;
}

.center-container {
  flex-grow: 1;
  text-align: center;
}

.swal-button--ok {
  background-color: #1644DB; 
  color: #fff; 
}

.swal-button--ok:hover {
  background-color: #1644DB;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #0D6E13 0%,
    #44107a 29%,
    #1A71AB 67%,
    #1BAB25 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 40px;
}

.animate-charcter-an
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #0D6E13 0%,
    #44107a 29%,
    #1A71AB 67%,
    #1BAB25 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 5vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.report-details {
  margin: 0 20px; 
}

@media print {
  .no-print {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 1em;
  }

  .content {
    margin: 1em auto; 
  }
}

.btn-primary {
  font-size: 1em; 
  transition: font-size 0.2s ease; 
}

.btn-primary:hover {
  color: rgb(0,0,0,0.3); 
}

input {
  color: black; /* Warna teks yang diisi */
}

input::placeholder {
  color: #a0a0a0;
}

